<!DOCTYPE html>
<html lang="es">
    <head> 
        {% block title %} <title>Login</title>{% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
         <link rel="stylesheet" href="{% static 'index/style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">       
    </head>
    <body>
        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-offset-4 col-md-5 col-md-offset-4 col-xs-12">
                        <h1>Log-in</h1>
                        <p>Please Login to the system to manage all stuff</p>
                            <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                                <div class="form-group">
                                    {% include "account/form.template.html" %}
                                    <input class="form-control" type="submit" class="btn btn-default" value="Login">
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>