{% extends "account/login.html" %}
{% block title %}<title>Registro en el sistema</title>{% endblock %}
{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                        <h1>Registro</h1>
                        <p>Por favor, llena el siguiente formulario poder generar una cuenta.</p>
                        <div class="alert alert-info">
                            <p>Si no tienes permiso para acceder a esta ruta te pedimos que regreses al <a href="/">inicio</a>.</p>
                        </div>
                        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                            {% include "account/form.template.html" %}
                            <button class="btn btn-default" type="submit" value="Registrarme">
                                Registrarme
                            </button>
                        </form>
                 </div>
            </div>
        </div>
{% endblock %}