{% extends "index/index.template.html" %}
{% block title %}
    <title>Informacion general</title>
{% endblock %}
{% block body %}
        <div class="container">
            <div class="jumbotron">
                <h2 style="text-align: center;"><strong>Detalles del usuario</strong></h2>
                <h4><strong>Usuario: </strong> {{ request.user.username }}</h4>
                <h4><strong>Nombre:  </strong>{{ request.user.first_name }}</h4>
                <h4><strong>Apellido:  </strong>{{ request.user.last_name }}</h4>
                <h4><strong>Email:  </strong> {{ request.user.email }} </h4>
                <h4><strong>Último acceso al sistema: </strong>{{ request.user.last_login }}</h4>
                <h4><strong>Fecha de creación de la cuenta:  </strong>{{ request.user.date_joined }}</h4>
                <h4>
                    <strong>Permisos: </strong>
                    {% if request.user.is_superuser %}
                        Administrador (Developer)
                    {% else %}
                        Encargado
                    {% endif %}
               </h4>
            </div>
        </div>
{% endblock %}
