header{
	width: 100%;
    padding: 10%;
	margin-top: -20px;
    text-align: center;
}
header p{
  margin: 0 auto;
}
.foo {
    width: 100%;
    height: auto; 
    bottom: 0;
    right: 0;
    left: 0;
    position: relative; 
    background: #191718;
    color: white;
    padding:  10px;
    margin-top:  25px;
    text-align: center;
 }
::selection{
  background-color:#000000;
  color:#FFFFFF;
}
::-moz-selection{
  background-color:#000000 ;
  color: #FFFFFF;
}
.page-break1
{
    width: 50%;
    height: 6px;
    background-color: black;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.product-break {
    width: 40%;
    height: 6px;
    background-color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
 }  
 .stock-info {
     width: 50%; 
     border: 2.5px solid black;
     padding: 10px;
     margin:10px 0px 10px 0px; 
  }
  .ui-datepicker { 
      background: white; 
      font-size: 15pt;
      padding: 10px; 
      margin:  0px;
      border-radius: 10px; 
      }
.ui-datepicker:hover 
{
    background: lightgrey;
}
.ui-datepicker a {
    text-decoration: none !important;
    color: white; 
}
.row_landing{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row_landing_item {
    display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  width: calc(100% * (1/4) - 10px - 1px);
}