{% extends 'index/index.template.html' %}
{% block title %}
    <title>Nuevo Producto</title>
{% endblock  %}
{% block  body %}
        <div class="container-fluid">
            <h1 style="text-align : center;">Administración de producto</h1>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form form-horizontal" action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% include "productos/form.template.html" %}
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10 col-xs-offset-2 col-xs-10">
                                        <button class="btn btn-success">Añadir nuevo Producto</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock  %}