{% extends "index/index.template.html" %}
{% block title %}
        <title>Ventas</title>
{% endblock  %}
{% block body %}
        <header>
            <h1>Registro de servicios</h1>
        </header>

         <form  action="{% url 'ventas:sale-create' %}">
                        <button class="btn btn-danger nuevo">                        
                                <span class="glyphicon glyphicon-plus"></span>                                
                        </button>
         </form>
         <div class="container-fluid">
                <div class="row">
                        <div class="col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-3 col-xs-6 col-xs-offset-6">
                                <button class="btn btn-default">                        
                                <a style="text-decoration:none; color:white;"href="/./account/user_reports">
                                        <span class="glyphicon glyphicon-print"></span>
                                        Reporte del mes                           
                                </a>
                                </button>    
                        </div>    
                </div>
        </div>
         </div>
         <br>
         <br>
        <div class="container">
            <div class="row">
                                                <div class="col-md-2 col-xs-2 col-sm-2">id</div>
                                                <div class="col-md-3 col-xs-3 col-sm-3">Fecha</div>
                                                <div class="col-md-2 col-sm-2 col-xs-2">Servicio</div>
                                                <div class="col-md-3 col-xs-3 col-sm-3">Barbero</div>
                                                <div class="col-md-2 col-xs-2 col-sm-2">Total</div>
            </div>
                                                {% for venta in object_list %}

                                                        <div class="row">
                                                                <div  class="col-md-2 col-xs-2 col-sm-2">
                                                                {{ venta.id_servicio }}
                                                                </div>
                                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                                {{ venta.servicio }}
                                                                </div>
                                                                <div  class="col-md-2 col-xs-2 col-sm-2">
                                                                {{ venta.fecha_venta }}
                                                                </div>
                                                                <div  class="col-md-3 col-xs-3 col-sm-3">
                                                                 {{ venta.barbero }}
                                                                </div>
                                                                <div  class="col-md-2 col-xs-2 col-sm-2">
                                                                $ {{ venta.total_venta }} MXN
                                                                </div>
                                                        </div>
                                                
                                                {% endfor %}
         
             </div>
{% endblock %}

