{% extends "index/index.template.html" %}
{% block title %}
        <title>Ventas</title>
{% endblock  %}
{% block body %}
        <header>
            <h1> Administración de Ventas</h1>
        </header>
        <div class="container">
        {% if request.user.is_authenticated %}
            <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                                <table class="table table-striped table-hover"> 
                                        <thead class="table table-heading">
                                                <th>id</th>
                                                <th>Fecha Venta</th>
                                                <th>Total Venta</th>    
                                        </thead>
                                        <tbody>
                                                {% for venta in object_list %}
                                                        <tr>
                                                                <td>
                                                                {{ venta.id_venta }}
                                                                </td>
                                                                <td>
                                                                {{ venta.fecha_venta }}
                                                                </td>
                                                                <td>
                                                                $ {{ venta.total_venta }} MXN
                                                                </td>
                                                        </tr>
                                                
                                                {% endfor %}
                                        </tbody>
                                </table>
                    </div>
             </div>
        {% endif %}
{% endblock %}

