{% extends "index/index.template.html" %}
{% block title %}
        <title>Ventas</title>
{% endblock  %}
{% block body %}
        <header>
            <h1>Registro de servicios</h1>
        </header>
        <div class="container">
            <div class="row">
                    <form  action="{% url 'ventas:sale-create' %}">
                        <button class="btn btn-danger nuevo">                        
                                <span class="glyphicon glyphicon-plus"></span>                                
                        </button>
                   </form>
                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <div class="table table-heading">
                                                <th>id</th>
                                                <th>Fecha Venta</th>
                                                <th>Total Venta</th>    
                                        </div>
                                                {% for venta in object_list %}
                                                        <div>
                                                                <div>
                                                                {{ venta.id_venta }}
                                                                </div>
                                                                <div>
                                                                {{ venta.fecha_venta }}
                                                                </div>
                                                                <div>
                                                                $ {{ venta.total_venta }} MXN
                                                                </div>
                                                        </div>
                                                
                                                {% endfor %}
                    </div>
             </div>
{% endblock %}

