{% extends "index/index.template.html" %}

{% block title %}
    <title>Administración de Venta</title>
{% endblock  %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                            <form  class="form form-horizontal"  method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                    {% include "index/form.template.html" %}
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-success">Submit</button>
                                        <button class="btn btn-danger">
                                            <a class="cancel" href="/">Cancelar transacción</a>
                                        </button>   
                                    </div>
                                </div>
                            </form> 
            </div>
        </div>
    </div>
{% endblock %}