{% extends 'index/index.template.html' %}
{% block title %} <title>Zamacueca - Detalles</title>{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <img draggable="false" src="{{ producto.imagen_producto.url }}" alt="" class="img-responsive">  
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <strong><h1>{{ producto.nombre_producto }}</h1></strong>
                <div class="product-break"></div>
                <h2>
                     {% if  producto.marca_producto == 'MAL' %}
                            Malo
                     {% elif  producto.marca_producto == 'SUA' %}
                            Suavecito
                     {% else $}
                            Wrong
                     {% endif %}
                </h2>
                <h3> MXN $ {{ producto.precio_unitario_producto }}</h3>
                <h4>Descripción: </h4>
                <p>{{ producto.descripcion_producto }}</p>
                <div class="stock-info"><strong>{{ producto.stock_producto }}<strong> Ejemplares en stock.</div>                                        
                {% if request.user.is_authenticated %}
                    <form action="{% url 'productos:product-update' producto.id_producto %}">{% csrf_token %}
                        <button class="new">
                        Editar Producto
                        </button>
                    </form>     
                    <form action="{% url 'productos:product-delete' producto.id_producto %}" method="POST">{% csrf_token %}
                                    <button class="new">
                                         <span class="glyphicon glyphicon-trash"></span>
                                   </button>
                    </form>            
                {% endif %}                          
            </div>
        </div>
    </div>
{% endblock %}