{% extends 'index/index.template.html' %}
{% block title %} <title>Zamacueca - Productos</title>{% endblock  %}
{% block body %}
    <header>
        {% if request.user.is_authenticated %}
               
                <h1>Administración de productos</h1>
        {% else %}
                <h1>Productos</h1> 
                <div class="page-break1"></div>
                <h2>Aqui encontrarás productos para el uso personal de tu peinado, barba, o lo que sea que tengas.</h2> 
            
        {% endif %}
    </header>
<div id="salidaform">
     <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-12">
                        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                            {% include "account/form.template.html" %}
                            <button class="btn btn-default" type="submit" value="Guardar">
                                Guardar
                            </button>
                        </form>
                 </div>
            </div>
        </div>
</div>
    <div class="container-fluid">
    {% if request.user.is_authenticated %}
           <form  action="{% url 'productos:product-add' %}">
               <button class="btn btn-danger nuevo">                        
                  <span class="glyphicon glyphicon-plus"></span>                                
               </button>
           </form>
           <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-xs-12">
                        <div class="who">
                              <h2>Búsqueda de Productos</h2>
                            <form action="" method="GET">
                                <input type="text" placeholder="Busca el nombre de un producto" name='q' class="form-control" value="{{ request.GET.q }}">
                                <input type="submit" value="Buscar" class="btn btn-success pull-center">
                            </form>
                        </div>
                    </div>
            </div>
            <br>
            
                    <div class="row">
                    {% for producto in object_list %}
                                <div class="col-md-4 col-xs-6 col-sm-4">
                                   <a href="{% url 'productos:detail' producto.id_producto %}"> 
                                    <img class="img img-responsive" src="{{ producto.imagen_producto.url }}" alt="">
                                   </a>
                                   <strong>ID Producto:</strong> {{ producto.id_producto }}
                                   <br>
                                   <strong>Nombre: </strong> {{ producto.nombre_producto }} <br>
                                    <strong>Tipo: </strong>{{ producto.tipo_producto }}<br>
                                   <strong>Marca: </strong>{{ producto.marca_producto}}<br>
                                   <strong>Precio: </strong><span>$</span>{{ producto.precio_unitario_producto}} MXN<br>
                                   <div class="stock-info">
                                    {{ producto.stock_producto }} Productos en Stock<br>
                                   </div>
                                </div>
                                                                                        
                    {% endfor %}
                    </div>  
                        
                     {% if not object_list %}
                        <div class="row">
                             <h5>No hay elementos para mostrar</h5>
                        </div>
                     {% endif %}

        {% else %}
                {% for producto in object_list %}
                                  
                    <div class="col-md-4 col-sm-4 col-xs-12">
                                            <a href="{% url 'productos:detail' producto.id_producto %}"><img src="{{ producto.imagen_producto.url }}" alt="" class="img-responsive"></a>
                                            <h3>{{ producto.nombre_producto }}</h3>
                                            <h4>
                                             {% if  producto.marca_producto == 'MAL' %}
                                                    Malo
                                             {% elif  producto.marca_producto == 'SUA' %}
                                                    Suavecito
                                             {% else $}
                                                    Wrong
                                             {% endif %}
                                            </h4>
                                            <p>MXN ${{ producto.precio_unitario_producto }}.00</p>                          
                     </div>
                {% endfor %}
        {% endif %}
     </div>
     <script>
         var form = document.getElementById("salidaform");
         form.style.display = none;
     </script>            
{% endblock  %}