{% extends 'index/index.template.html' %}
{% block title %} <title>Zamacueca - Productos</title>{% endblock  %}
{% block body %}
    <header  class="parallax">
        {% if request.user.is_authenticated %}
               
                <h1>Administración de productos</h1>
        {% else %}
                <h1>Productos</h1> 
                <div class="page-break1"></div>
                <h2>Aqui encontrarás productos para el uso personal de tu peinado, barba, o lo que sea que tengas.</h2> 
            
        {% endif %}
    </header>
    <div class="container">
        {% if request.user.is_authenticated %}
           <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <h2>Búsqueda de Productos</h2>
                            <form action="" method="GET">
                                <input type="text" placeholder="Busca el nombre de un producto" name='q' class="form-control" value="{{ request.GET.q }}">
                                <input type="submit" value="Buscar" class="btn btn-default pull-center">
                            </form>
                    </div>
            </div>
            <form action="{% url 'productos:product-add' %}">
                                <button>                        
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Nuevo Producto                                     
                                </button>
            </form>
            <div class="row">
                    <div class="col-md-12 col-xs-10 col-sm-12">
                                        <thead class="table table-heading">
                                            <th>id</th>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Marca</th>
                                            <th>Precio</th>
                                            <th>Stock</th>
                                            <th>Ver</th>
                                            <th>Eliminar</th>      
                                        </thead>
                                        <tbody>
                                            {% for producto in object_list %}
                                                    <tr>
                                                            <td>
                                                                {{ producto.id_producto }}
                                                            </td>
                                                            <td>
                                                                {{ producto.nombre_producto }}
                                                            </td>
                                                            <td>
                                                                {{ producto.tipo_producto }}
                                                            </td>
                                                            <td>
                                                                {{ producto.marca_producto}}
                                                            </td>
                                                            <td>
                                                                {{ producto.precio_unitario_producto}}
                                                            </td>
                                                            <td>
                                                                {{ producto.stock_producto }}</td>
                                                            <td>
                                                            
                                                                <form action="{% url 'productos:detail' producto.id_producto %}">
                                                                    <button>
                                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                                    </button>
                                                                </form>
                                        
                                                            </td>
                                                            <td>
                                                            
                                                                <form onclick="deleteProduct()" action="{% url 'productos:product-delete' producto.id_producto %}" method="POST">{% csrf_token %}
                                                                    <button>
                                                                        <span class="glyphicon glyphicon-trash"></span>
                                                                    </button>
                                                                </form>
                                                            
                                                            </td>
                                                    </tr>
                                
                                            {% endfor %}
                                        </tbody>
                                {% if not object_list %}
                                        <h5>No hay elementos para mostrar</h5>
                                {% endif %}
                              </div>
                        {% else %}
                                {% for producto in object_list %}
                                  
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                  
                                            <a href="{% url 'productos:detail' producto.id_producto %}"><img src="{{ producto.imagen_producto.url }}" alt="" class="img-responsive"></a>
                                            <h3>{{ producto.nombre_producto }}</h3>
                                            <h4>{{ producto.marca_producto }}</h4>
                                            <p>MXN ${{ producto.precio_unitario_producto }}.00</p>
                                  
                                    </div>
                                {% endfor %}
                        {% endif %}
                    </div>
            </div>            
{% endblock  %}