{% extends 'index/index.template.html' %}
{% block title %} <title>Zamacueca - Productos</title>{% endblock  %}
{% block body %}
    <header  class="parallax">
        {% if request.user.is_authenticated %}
               
                <h1>Administración de productos</h1>
        {% else %}
                <h1>Productos</h1> 
                <div class="page-break1"></div>
                <h2>Aqui encontrarás productos para el uso personal de tu peinado, barba, o lo que sea que tengas.</h2> 
            
        {% endif %}
    </header>
    <div class="container-fluid">
        {% if request.user.is_authenticated %}
           <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12">
                        <h2>Búsqueda de Productos</h2>
                            <form action="" method="GET">
                                <input type="text" placeholder="Busca el nombre de un producto" name='q' class="form-control" value="{{ request.GET.q }}">
                                <input type="submit" value="Buscar" class="btn btn-success pull-center">
                            </form>
                    </div>
            </div>
            <br>
                <form action="{% url 'productos:product-add' %}">
                                    <button class="new">                        
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Nuevo Producto                                     
                                    </button>
                </form>
                    <br>
                        <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3">Producto</div>
                                <div class="col-md-1 col-xs-1 col-sm-1">Tipo</div>
                                <div class="col-md-2 col-xs-2 col-sm-2">Marca</div>
                                <div class="col-md-3 col-xs-3 col-sm-3">Precio</div>
                                <div class="col-md-2 col-xs-2 col-sm-2">Stock</div>
                        </div>
                    {% for producto in object_list %}
                        <div class="row">
                                <div class="col-md-3 col-xs-3 col-sm-3">
                                   <a href="{% url 'productos:detail' producto.id_producto %}"> 
                                    <img class="img img-responsive" src="{{ producto.imagen_producto.url }}" alt="">
                                   </a>
                                   ID: {{ producto.id_producto }}
                                   <br>
                                  {{ producto.nombre_producto }}
                                </div>
                                <div class="col-md-1 col-xs-1 col-sm-1">
                                {{ producto.tipo_producto }}
                                </div>
                                <div class="col-md-2 col-xs-2 col-sm-2">
                                {{ producto.marca_producto}}
                                </div>
                                <div class="col-md-3 col-xs-3 col-sm-3">
                                    {{ producto.precio_unitario_producto}}
                                </div>
                                <div class="col-md-2 col-xs-2 col-sm-2">
                                    {{ producto.stock_producto }}
                                </div>
                        </div>                                                                  
                    {% endfor %}
                        
                     {% if not object_list %}
                        <div class="row">
                             <h5>No hay elementos para mostrar</h5>
                        </div>
                     {% endif %}

        {% else %}
                {% for producto in object_list %}
                                  
                    <div class="col-md-4 col-sm-4 col-xs-12">
                                            <a href="{% url 'productos:detail' producto.id_producto %}"><img src="{{ producto.imagen_producto.url }}" alt="" class="img-responsive"></a>
                                            <h3>{{ producto.nombre_producto }}</h3>
                                            <h4>{{ producto.marca_producto }}</h4>
                                            <p>MXN ${{ producto.precio_unitario_producto }}.00</p>                          
                     </div>
                {% endfor %}
        {% endif %}
     </div>            
{% endblock  %}