{% extends 'index/index.template.html' %}
{% block title %} <title>Salidas</title>{% endblock  %}
{% block body %}
    <header>
        <h1 style="text-align:center">Registro de salidas</h1>     
    </header>
    <div class="container">
        <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-1">
                        <p><strong>Id</strong></p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p><strong>Barbero</strong></p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p><strong>Producto</strong></p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <p><strong>Cantidad</strong></p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p><strong>Concepto</strong></p>
                    </div>
         </div>
         <div class="row">
        {% for salida in salidas %}
                <div class="col-md-1 col-sm-1 col-xs-1">
                        <p>{{ salida.id }}</p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p>{{ salida.barbero }}</p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p>{{ salida.id_producto }}</p>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <p>{{ salida.cantidad }}</p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p>{{ salida.concepto }}</p>
                    </div>
        {% endfor %}
         </div>
    </div>
{% endblock%}