{% extends "index/index.template.html" %}
{% block title %}
    <title>Nueva cita</title>
{% endblock %}
{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-12">
                        <h1>Genera una nueva cita</h1>
                        <p>Por favor, llena el siguiente formulario poder generar una cita.</p>
                        <form method="POST" action="{% url 'cita:book' %}" enctype="multipart/form-data"> {% csrf_token %}
                            {% include "account/form.template.html" %}
                            <button class="btn btn-default" type="submit" value="Registrarme">
                                Book a date
                            </button>
                        </form>
                 </div>
            </div>
            <button type="submit" class="btn btn-default">
                Buscar disponibilidad para esta fecha.
            </button>
        </div>
        <br>
        <script>
            $(function() {
                $( ".datepicker" ).datepicker({
                dayNames: [ " Domingo ", " Lunes ", " Martes ", " Miercoles ", " Jueves ", " Viernes ", " Sabado " ],
                dayNamesMin: [ "Do", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab" ],
                dateFormat: "yy-mm-dd", 
                changeMonth: true,
                changeYear: true,
                yearRange: "2016:2017",
                // You can put more options here.
                });
            });
       </script>

{% endblock  %}