{% extends "account/login.html" %}
{% block title %}
    <title>Book a date</title>
{% endblock %}
{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-12">
                        <h1>Book a date with us</h1>
                        <p>Por favor, llena el siguiente formulario poder generar una cita.</p>
                        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                            {% include "account/form.template.html" %}
                            <button class="btn btn-default" type="submit" value="Registrarme">
                                Book a date
                            </button>
                        </form>
                 </div>
            </div>
        </div>
{% endblock  %}