{% extends 'index/index.template.html' %}
{% block title %} <title>Haz una cita</title>{% endblock  %}
{% block  body %}
    <header>
            <h1>Administración de citas </h1>
    </header>
    <div class="container">
              <table class="table table-striped table-hover">
                       <thead class="table table-heading">
                               <th>Id Cita</th>
                               <th>Fecha de cita</th>
                               <th>Hora</th>
                               <th>Creacion Cita</th>
                               <th>Cliente</th>
                               <th>Teléfono</th>
                               <th>Modificar</th>
                               <th>Eliminar</th>
                       </thead>
                       <tbody>
                          {% for object in object_list  %}
                                <tr>
                                    <td>{{ object.cita_id }}</td>
                                    <td>{{ object.fecha_cita }}</td>
                                    <td>{{ object.hora_cita }}</td>
                                    <td>{{ object.fecha_creacion_cita }}</td>
                                    <td>{{ object.nombre_cliente }}</td>
                                    <td>{{ object.telefono_cliente }}</td>
                                    <td>
                                        <form action="{% url 'cita:update-cita'  object.cita_id %}">{% csrf_token %}
                                            <button>
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                        </form>
                                              
                                   </td>
                                   <td>
                                       <form action="{% url 'cita:delete-cita' object.cita_id %}">
                                           <button>
                                               <span class="glyphicon glyphicon-trash"></span>
                                           </button>
                                       </form>
                                   </td>
                                </tr>
                          {% endfor %}
                       </tbody>
              </table>
              {% if not object_list %}
                    <h5>No hay citas para mostrar</h5>
              {% else %}
              {% endif %}
    </div>
{% endblock  %}

