{% extends 'index/index.template.html' %}
{% block title %} <title>Haz una cita</title>{% endblock  %}
{% block  body %}
    <header>
            <h1>Agenda una cita con nosotros</h1>
            <div class="page-break1"></div>
            <h2>Y disfruta del mejor servicio en la ciudad</h2>
    </header>
    <div class="container">
              <table class="table table-striped table-hover">
                                        <thead class="table table-heading">
                                            <th>Id Cita</th>
                                            <th>Fecha</th>
                                            <th>Cliente</th>
                                            <th>Teléfono</th>
                                            <th>Dirección</th>
                                        </thead>
                                        <tbody>
                                            {% for date in object_list  %}
                                                <tr>
                                                    <td>{{ date.cita_id }}</td>
                                                    <td>{{ date.fecha }}</td>
                                                    <td>{{ date.nombre_cliente }}</td>
                                                    <td>{{ date.telefono_cliente }}</td>
                                                    <td>{{ date.direccion }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
              </table>

    </div>
{% endblock  %}

