{% extends "index/index.template.html" %}
{% block title %}
    <title>Nueva cita</title>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
             <div class="col-md-6 col-md-offset-3 col-sm-6  col-xs-12">
                        <h1 style="text-align: center;">Visítanos agendando una cita</h1>
                        <form method="POST" action="{% url 'cita:book' %}" enctype="multipart/form-data"> {% csrf_token %}
                            {% include "account/form.template.html" %}
                            <button class="btn btn-default book" type="submit" value="Registrarme">
                                Agendar Cita
                            </button>
                         </form>
             </div>
        </div>
    </div>
        <br>
        <script>
            $(function() {
                $( ".datepicker" ).datepicker({
                dayNames: [ " Domingo ", " Lunes ", " Martes ", " Miercoles ", " Jueves ", " Viernes ", " Sabado " ],
                dayNamesMin: [ "Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab" ],
                dateFormat: "yy-mm-dd", 
                minDate: 0,
                changeMonth: true,
                changeYear: true,
                yearRange: "2016:2017",
                currentText: "Now",
                defaultDate: 0, 
                });
            });
       </script>
       <script>
        console.log("Hello")
           var tour = new Tour({
               storage : false,
               steps: [
                   {
                        element: ".nombre",
                        title: "Ingresa tu nombre",
                        content: "Ingresa tu nombre para identificarte como nuevo cliente"
                    }, 
                    {
                        element: ".telefono",
                        title: "Ingresa tu telefono",
                        content: "Así podremos confirmar tu cita y enviarte promociones."
                    },
                    {
                        element: ".direccion",
                        title: "¿De dónde vienes?",
                        content: "Nos encantaría saber de donde nos visitas"
                    },
                    {
                        element: ".fecha",
                        title: "¿Cuándo nos vemos?",
                        content: "Escoge el día de tus cita, los 365 días del año para ti."
                    },
                    {
                        element: ".hora",
                        title: "¿A qué hora nos vemos?",
                        content: "Escoge la hora del día de tu cita"
                    }
               ]});
           tour.init();
           tour.start();
       </script>
{% endblock  %}