{% extends 'index/index.template.html' %}
{% block title %} <title>Haz una cita</title>{% endblock  %}
{% block  body %}
    <header>
            <h1>Administración de citas </h1>
    </header>
    <div class="container">
        <div class="row">
                        <div>
                          <button  class="btn btn-default">
                                <span class="glyphicon glyphicon-list"></span>
                                <a style="text-decoration:none; color:white;" href="/citas/">Citas de Hoy</a>
                          </button>
                          <button  class="btn btn-default">
                                <span class="glyphicon glyphicon-list"></span>
                                <a style="text-decoration:none; color:white;" href="./citas/tomorrow">Citas Mañana</a>
                          </button>
                           <button  class="btn btn-default">
                                <span class="glyphicon glyphicon-list"></span>
                                <a style="text-decoration:none; color:white;" href="/citas/month">Citas de este mes</a>
                          </button>
                          <button  class="btn btn-default">
                                <span class="glyphicon glyphicon-calendar"></span>
                                <a style="text-decoration:none; color:white;" href="./citas/all">Todas las citas</a>
                           </button>
                        </div>
        </div>
        <div class="row">
                <h2 style="text-align: center;">Lista de citas</h2>
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <strong>Id</strong>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <strong>Fecha</strong>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <strong>Hora</strong>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <strong>Creado</strong>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <strong>Cliente</strong>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <strong>Teléfono</strong>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <strong>Modificar</strong>
                                </div>
        </div>
        {% for object in object_list  %}
                        <div class="row">
                                <div class="col-md-1 col-sm-1 col-xs-1">{{ object.cita_id }}</div>
                                <div class="col-md-2 col-sm-2 col-xs-2">{{ object.fecha_cita }}</div>
                                <div class="col-md-1 col-sm-1 col-xs-1">{{ object.hora_cita }}</div>
                                <div class="col-md-2 col-sm-2 col-xs-2">{{ object.fecha_creacion_cita }}</div>
                                <div class="col-md-2 col-sm-2 col-xs-2">{{ object.nombre_cliente }}</div>
                                <div class="col-md-2 col-sm-2 col-xs-2">{{ object.telefono_cliente }}</div>
                                <div class="col-md-1 col-sm-1 col-xs-1">  
                                    <form action="{% url 'cita:update-cita'  object.cita_id %}">{% csrf_token %}
                                                <button class="new">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </button>
                                            </form>
                                 <form method="POST" action="{% url 'cita:delete-cita' object.cita_id %}">
                                            {% csrf_token %}
                                            <button class="new">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </form>        
                                </div>
                        </div>
        {% endfor %}
        <div class="row">
              {% if not object_list %}
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h5>No hay citas para mostrar</h5>
                </div>
              {% endif %}
        </div>
    </div>
{% endblock  %}

