{% extends 'index/index.template.html'%}
{% block title %} <title> Zamacueca - Galeria </title>{% endblock %}
{% block galleryactive %} active {% endblock  %}
{% block body %}
<header>
        <h1>Galería</h1>
        <div class="page-break1"></div> 
        <h2>Algunos de nuestros clientes satisfechos con nuestros servicios ; cortes , afeitado, tratamiento y blah blah.</h2>
</header>
       
                <div class="row_landing">                       
                        {% for imagen in object_list %}
                                <div class="row_landing_item">
                                        <figure>
                                                <img src="{{ imagen.imagen.url }}" draggable="false" alt="{{ imagen.descripcion }}" class="img-responsive">                                
                                        </figure>
                                </div>
                        {% endfor %}
                </div>
   
{% endblock %}