<!DOCTYPE html>
<html lang="es">
    <head>
        {% block title %}<title>Barbería Zamacueca - Bienvenido  </title> {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        {% load staticfiles %}
        <link rel="icon" href="/static/images/calavera-final.ico" >
        <script src="{% static '/css/index.js' %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css"> 
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
        <script
            src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{% static '/css/bootstrap-tour.js' %}"></script>
        <link rel="stylesheet" href="{% static  '/css/bootstrap-tour.css' %}">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
    </head>
    <body>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#TopNavBar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{% url 'index:zamacueca'  %}" class="navbar-brand">
                            <img style="width: 80px; height:auto;" src="/static/images/la-zamacueca-final.png" alt="Logo">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            {% if request.user.is_authenticated %}
                                    <ul class="nav navbar-nav">   
                                        <li class="">
                                            <a href="/citas/" class=""> 
                                              Administración de Citas
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/productos/" class=""> 
                                              Administración de Productos
                                            </a>
                                        </li>
                                         <li class="">
                                            <a href="/./ventas/" class=""> 
                                               Registro de Servicios
                                            </a>
                                        </li>
                                    </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><strong>{{ request.user.username }}</strong><span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                                <li>
                                                    <a href="/./account/user_account">información del usuario</a>
                                                </li>
                                                <li role="separator" class="divider"></li>
                                                <li>
                                                    <a href="/./account/logout_user">
                                                        <span class="glyphicon glyphicon-off"></span>
                                                        Logout 
                                                    </a>
                                                </li>
                                        </ul>
                                    </li>
                                </ul>
                            {% else %}
                                    <ul class="nav navbar-nav">   
                                            <li class="">
                                                <a href="/./citas/nueva" class=""> 
                                                    Haz una Cita
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'index:about' %}" class="">
                                                    Sobre Nosotros
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'index:gallery' %}" class="">
                                                    Galería
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="/productos/" class=""> 
                                                    Productos
                                                </a>
                                            </li>
                                    </ul>
                            {% endif %} 
                    </div>
                </div>
            </nav>
            {% block body %}
               <header class="main-header">
                   <img src="/static/images/la-zamacueca-final.png" alt="">
                   <h1>Detrás de una gran barba, hay un gran barbero.</h1>
               </header>
               <div class="page-break1"></div>
               <section>
                    <div class="row_landing">
                        <div class="row_landing_item who">
                                <h2>¿Quiénes somos?</h2>
                                <h4>
                                    Rescatamos el arte de las antiguas barberías y la experiencia que en ellas se vivía. conjuntamos tradiciones, servicios de altos estándares de calidad e higiene,
                                    y los mejores productos de grooming y shaving.
                                <h4>
                        </div>
                    </div>
               </section>
               <div class="page-break1"></div>
               <h2 class="who">Servicios</h2>
               
               <section class="pricing-section bg-9">
                    
                    <div class="pricing pricing--karma">
                        <div class="pricing__item">
                            <h3 class="pricing__title">Corte de Pelo</h3>
                            <p class="pricing__sentence">Para ti y tu pequeño</p>
                            <div class="pricing__price"><span class="pricing__currency">$</span>290<span class="pricing__period">$190 Niño</span></div>
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature">El trago de tu preferencia</li>
                                <li class="pricing__feature">El corte que quieras</li>
                                <li class="pricing__feature">El mejor servicio de la ciudad</li>
                            </ul>
                            <button class="pricing__action">Detalles</button>
                        </div>
                        <div class="pricing__item pricing__item--featured">
                            <h3 class="pricing__title">Afeitado</h3>
                            <p class="pricing__sentence">Zamacueca Clásico</p>
                            <div class="pricing__price"><span class="pricing__currency">$</span>180<span class="pricing__period">Trago Incluido</span></div>
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature">Toalla caliente</li>
                                <li class="pricing__feature">Aceite Pre-Shave</li>
                                <li class="pricing__feature">Bálsamo After-Shave</li>
                            </ul>
                            <button class="pricing__action">Detalles</button>
                        </div>
                        <div class="pricing__item">
                            <h3 class="pricing__title">Recorte y alineado</h3>
                            <p class="pricing__sentence">Retoque y alineado de barba</p>
                            <div class="pricing__price"><span class="pricing__currency">$</span>130<span class="pricing__period">Trago Incluido</span></div>
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature">Tu trago de preferencia</li>                                
                                <li class="pricing__feature">Recorte y alineado de barba</li>
                                <li class="pricing__feature">Para barba y bigote</li>
                            </ul>
                            <button class="pricing__action">Detalles</button>
                        </div>
                    </div>
          
          </section>
          
          <section>
               
               <div class="page-break1"></div>
               <div class="item">
                    <img src="static/css/tijeras.svg" alt="">
                    <h2 class="who">Cortes de Pelo</h2>
                </div>
                <div class="row_landing">
                    <div class="row_landing_item who">
                        <h4>
                            Tenemos una forma peculiar en lo que respecta a cortes del pelo, 
                            siempre estamos al tanto de las ùltimas tendencias para darte
                            el corte que quieres.
                            O si bien quieres un corte a la antigua nosotros te lo podemos darte
                            te convertirás en el look que siempre quisiste tener para tú pelo.
                            <br><br>
                            Disfruta de tu corte en compañía de una cerveza extranjera o un Cognac
                            mientras nos permites darte el mejor servicio.
                        </h4>
                    </div>
                </div>
                <div class="row_landing">
                    <figure class="row_landing_item img_grid">
                        <img src="static/css/corte1.jpg" alt="">
                    </figure>
                    <figure class="row_landing_item img_grid">
                        <img src="static/css/corte2.jpg" alt="">
                    </figure>
                     <figure class="row_landing_item img_grid">
                        <img src="static/css/corte3.jpg" alt="">
                    </figure>
                    <figure class="row_landing_item img_grid">
                        <img src="static/css/corte4.jpg"alt="">
                    </figure>
                </div>
          </section>

          <div class="page-break1"></div>
          
          <section>
              <div class="item">
                 <img src="static/css/navaja.svg" alt="">
                 <h2 class="who">Afeitado</h2>
              </div>
              <div class="row_landing">
                  <div class="row_landing_item who">
                      <h4>
                            Tenemos una forma peculiar en lo que respecta a cortes del pelo, 
                            siempre estamos al tanto de las ùltimas tendencias para darte
                            el corte que quieres.
                            O si bien quieres un corte a la antigua nosotros te lo podemos darte
                            te convertirás en el look que siempre quisiste tener para tú pelo.
                            <br><br>
                            Disfruta de tu corte en compañía de una cerveza extranjera o un Cognac
                            mientras nos permites darte el mejor servicio.
                        </h4>
                  </div>
              </div>
              <div class="row_landing">
                    <figure class="row_landing_item img_grid">
                        <img src="static/css/barba1.jpg" alt="">
                    </figure>
                    <figure class="row_landing_item img_grid">
                        <img src="static/css/barba2.jpg" alt="">
                    </figure>
                     <figure class="row_landing_item img_grid">
                        <img src="static/css/barba3.jpg" alt="">
                    </figure>
                    <figure class="row_landing_item img_grid">
                        <img src="static/css/barba4.jpg"alt="">
                    </figure>
                </div>
          </section>
          <div class="page-break1"></div>
          <section>
              <div class="item">
                 <img src="static/css/recorte.svg" alt="">
                 <h2 class="who">Recorte y Alineado</h2>
              </div>
              <div class="row_landing">
                  <div class="row_landing_item who">
                      <h4>
                            Tenemos una forma peculiar en lo que respecta a cortes del pelo, 
                            siempre estamos al tanto de las ùltimas tendencias para darte
                            el corte que quieres.
                            O si bien quieres un corte a la antigua nosotros te lo podemos darte
                            te convertirás en el look que siempre quisiste tener para tú pelo.
                            <br><br>
                            Disfruta de tu corte en compañía de una cerveza extranjera o un Cognac
                            mientras nos permites darte el mejor servicio.
                        </h4>
                  </div>
              </div>
              <div class="row_landing">
                    <figure class="row_landing_item img_grid">
                        <img src="static/css/barba1.jpg" alt="">
                    </figure>
                    <figure class="row_landing_item img_grid">
                        <img src="static/css/barba2.jpg" alt="">
                    </figure>
                     <figure class="row_landing_item img_grid">
                        <img src="static/css/corte1.jpg" alt="">
                    </figure>
                    <figure class="row_landing_item img_grid">
                        <img src="static/css/corte3.jpg"alt="">
                    </figure>
                </div>
          </section>
          <div class="page-break1"></div>
          <section>
              <h2 class="who">Ubicación</h2>
              <div class="row_landing">
                  <div class="row_landing_item">
                       <div id="map"></div>
                  </div>
                  <div class="map">
                        <img src="static/css/ubicacion.png" alt="">
                          <h4>
                              Colonia Heroes del 47 no.58 
                              <br>
                              Delegación Coyoacan
                              <br>
                              Ciudad de México
                              <div class="page-break1"></div>
                              Para más preguntas <br>puedes llamarnos al <br><br>
                              Tel. 75953771
                          </h4>
                  </div>
              </div>
          </section>
            {% endblock %}
    <footer  class="foo">
        <div class="container-fluid">
            <h4>Zamacueca Software - 2016 - Made with <span class="glyphicon glyphicon-heart"></span> by <a href="https://github.com/victorhugojmz/">Stark Industries</a></h4>
        </div>
    </footer>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy6e6gbS6uCMxVReY6IUVka1EkXB2yqfw&callback=initMap">
    </script>
    </body>
</html>