header{
	width: 100%;
    padding: 10%;
    height: 500px;
	background-size: cover;
	margin-top: -20px;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
header p{
  margin: 0 auto;
}
a{ 
    color: blue;
    text-decoration: none;
}
a:hover{
    color:blue;
    text-decoration: none;
 }
.foo {
    width: 100%;
    height: auto; 
    bottom: 0;
    right: 0;
    left: 0;
    position: relative; 
    background: #191718;
    color: white;
    padding:  10px;
    margin-top:  25px;
    text-align: center;
 }
::selection{
  background-color:#000000;
  color:#FFFFFF;
}
::-moz-selection{
  background-color:#000000 ;
  color: #FFFFFF;
}
.page-break1
{
    width: 50%;
    height: 6px;
    background-color: black;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.product-break {
    width: 40%;
    height: 6px;
    background-color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
 }  
 .stock-info {
     width: 50%; 
     border: 3px solid black;
     padding: 10px;
     margin:10px 0px 10px 0px; 
  }