{% extends 'index/index.template.html' %}
{% block title %}
    <title>Zamacueca - Encargado </title>
{% endblock  %}
{% block customized %}
     <nav class="navbar navbar-default">
                <div class="container-fluid">  
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#TopNavBar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{% url 'index:zamacueca'  %}" class="navbar-brand">Zamacueca</a>
                    </div>
                    <div class="collapse navbar-collapse" id="TopNavBar">
                        
                        <ul class="nav navbar-nav">
                            <li class="{% block galleryactive %}{% endblock  %}">
                                <a href="encargado/citas" class="">
                                    <span class="glyphicon glyphicon-picture"></span>
                                    Administrar citas
                                </a>
                            </li>
                            <li class="">
                                <a href="encargado/producto/" class=""> 
                                     <span class="glyphicon glyphicon-th-list"></span>
                                    Administrar productos
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
{% endblock  %}
{% block body %}
        <div class="container-fluid">
            <h1>Bienvenido <strong>{{ user.username }}</strong></h1>
        </div>
{% endblock  %}