{% extends 'index/index.template.html' %}
{% block title %}
    <title>Zamacueca - Productos </title>
{% endblock  %}
{% block customized %}
     <nav class="navbar navbar-default">
                <div class="container-fluid">  
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#TopNavBar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/encargado/" class="navbar-brand">Zamacueca</a>
                    </div>
                    <div class="collapse navbar-collapse" id="TopNavBar">
                        
                        <ul class="nav navbar-nav">
                
                            <li class="{% block galleryactive %}{% endblock  %}">
                                <a href="" class="">
                                    <span class="glyphicon glyphicon-picture"></span>
                                    Administrar citas
                                </a>
                            </li>
                            <li class="">
                                <a href="/encargado/producto/" class=""> 
                                     <span class="glyphicon glyphicon-th-list"></span>
                                    Administrar productos
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="encargado/producto/new">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Nuevo Producto
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
{% endblock  %}
<h1>Productos</h1>
{% block body %}
        <div class="container-fluid">
            <h1 style="text-align: center;">Administración de productos</h1>
                {% for producto in object_list %}
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-xs-12">
                                <div class="thumbnail">
                                <img src="{{ producto.imagen_producto.url }}" alt="...">
                                <div class="caption">
                                    <h3>{{ producto.nombre_producto }}</h3>
                                    <h4>{{ producto.marca_producto }} > {{ producto.tipo_producto }}</h4>
                                    <h5>MXN ${{ producto.precio_unitario_producto }}.00</h5>
                                    Stock: {{ producto.stock_producto }}
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                </div>
                                </div>
                            </div>
                        </div>
                 {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock  %}
