{% extends 'index/index.template.html' %}
{% block title %}
    <title>Zamacueca - Productos </title>
{% endblock  %}
{% block customized %}
     <nav class="navbar navbar-default">
                <div class="container-fluid">  
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#TopNavBar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/encargado/" class="navbar-brand">Zamacueca</a>
                    </div>
                    <div class="collapse navbar-collapse" id="TopNavBar">
                        
                        <ul class="nav navbar-nav">
                
                            <li class="{% block galleryactive %}{% endblock  %}">
                                <a href="" class="">
                                    <span class="glyphicon glyphicon-picture"></span>
                                    Administrar citas
                                </a>
                            </li>
                            <li class="">
                                <a href="/encargado/producto/" class=""> 
                                     <span class="glyphicon glyphicon-th-list"></span>
                                    Administrar productos
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="encargado/producto/new">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Nuevo Producto
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
{% endblock  %}
<h1>Productos</h1>
{% block body %}
        <div class="container-fluid">
            <h1 style="text-align: center;">Administración de productos</h1>
        
        <table class="table table-hover">
            <thead class="thead-inverse">
                <th>#</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Precio</th>
                <th>Stock</th>
            </thead>
            <tbody>
                {% for producto in object_list %}
                        <tr>
                            <th scope="row">{{ producto.id }}</th>
                            <td>{{ producto.nombre_producto }}</td>
                            <td>{{ producto.tipo_producto }}</td>
                            <td>{{ producto.marca_producto }}</td>
                            <td>MXN ${{ producto.precio_unitario_producto }}.00</td>
                            <td>{{ producto.stock_producto }}</td>
                        </tr>
                 {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock  %}
